{% if not isSocket %}
	{% extends "layout.html.twig" %}
	{% block title %}{{title}}{% endblock %}
{% endif %}

{% block content %}
	<h1>{{title}}</h1>

	{# CMS Settings #}
	<form action="/cms/update/settings" method="socket" class="highlight form-horizontal" data-form="updateCmsSettings" role="form">
		<h3>CMS Settings</h3>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Name</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" name="name" value="{{app.name}}">
	    	</div>
    	</div>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Title</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" name="title" value="{{app.title}}">
	    	</div>
    	</div>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Keywords</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" name="keywords" value="{{app.keywords}}">
	    	</div>
    	</div>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Description</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" name="description" value="{{app.description}}">
	    	</div>
    	</div>

    	<input type="hidden" name="_id" value="{{app._id}}">
    	<button type="submit" class="btn btn-default">Update</button>
	</form>

	{# CMS Pages #}
	<form action="/cms/new/page" method="socket" class="highlight form-horizontal" data-form="newCmsPage" role="form">
		<h2>CMS Pages</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>_id</th>
					<th>Name</th>
					<th>Title</th>
					<th>Template</th>
					<th>Route</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for page in pages %}
			<tr id="{{page._id}}" data-edit="updateCmsPage">

				<td data-field="_id">{{page._id}}</td>
				<td data-field="name">{{page.name}}</td>
				<td data-field="title">{{page.title}}</td>
				<td data-field="template">{{page.template}}</td>
				<td data-field="route">{{page.route}}</td>

				<td>
					<div class="btn-group">
					  <button type="button" class="btn btn-default btn-sm disabled" data-save>
					  	<span class="glyphicon glyphicon-floppy-disk"></span>
					 </button>
					  <button type="button" class="btn btn-default btn-sm" data-delete>
					  	<span class="glyphicon glyphicon-ban-circle"></span>
					  </button>
					</div>

					<input type="hidden" name="_id" value="{{page._id}}">
				</td>

			</tr>

			{% endfor %}
			</tbody>
		</table>

		<h3>New CMS Page</h3>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Name</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" id="" name="name" value="">
	    	</div>
    	</div>

    	<div class="form-group">
    	  <label class="col-sm-1 control-label">Title</label>
    	  <div class="col-sm-11">
    	    <input type="text" class="form-control" id="" name="title" value="">
    	  </div>
    	</div>

    	<div class="form-group">
    	  <label class="col-sm-1 control-label">Template</label>
    	  <div class="col-sm-11">
    	    <input type="text" class="form-control" id="" name="template" value="">
    	  </div>
    	</div>

    	<div class="form-group">
    	  <label class="col-sm-1 control-label">Route</label>
    	  <div class="col-sm-11">
    	    <input type="text" class="form-control" id="" name="route" value="">
    	  </div>
    	</div>

		<button type="submit" class="btn btn-default">Add</button>
	</form>

	{# CMS Routes #}
	<form action="/cms/new/page" method="socket" class="highlight form-horizontal" data-form="newCmsRoute" role="form">
		<h2>CMS Routes</h2>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Patern</th>
					<th>Action</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for route in app.routes %}
					<tr data-edit="updateCmsRoute">
						<td data-field="name">{{route.name}}</td>
						<td data-field="pattern">{{route.pattern}}</td>
						<td data-field="action">{{route.action}}</td>

						<td>
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm disabled" data-save>
							  	<span class="glyphicon glyphicon-floppy-disk"></span>
							 </button>
							  <button type="button" class="btn btn-default btn-sm" data-delete>
							  	<span class="glyphicon glyphicon-ban-circle"></span>
							  </button>
							</div>

							<input type="hidden" name="_id" value="{{app._id}}">
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h3>New CMS Route</h3>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Name</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" id="" name="name" value="">
	    	</div>
    	</div>

    	<div class="form-group">
    	  <label class="col-sm-1 control-label">Pattern</label>
    	  <div class="col-sm-11">
    	    <input type="text" class="form-control" id="" name="pattern" value="">
    	  </div>
    	</div>

    	<div class="form-group">
    	  <label class="col-sm-1 control-label">Action</label>
    	  <div class="col-sm-11">
    	    <input type="text" class="form-control" id="" name="action" value="">
    	  </div>
    	</div>

		<button type="submit" class="btn btn-default">Add</button>
	</form>

	{# CMS Navigation #}
	<form action="/cms/update/navigation" method="socket" class="highlight form-horizontal" data-form="updateCmsNavigation" role="form">
		<h2>CMS Navigation</h2>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Route</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for nav in app.navigation %}
					<tr data-edit="updateCmsNavigation">
						<td data-field="name">{{nav.name}}</td>
						<td data-field="route">{{nav.route}}</td>

						<td>
							<div class="btn-group">
							  <button type="button" class="btn btn-default btn-sm disabled" data-save>
							  	<span class="glyphicon glyphicon-floppy-disk"></span>
							 </button>
							  <button type="button" class="btn btn-default btn-sm" data-delete>
							  	<span class="glyphicon glyphicon-ban-circle"></span>
							  </button>
							</div>

							<input type="hidden" name="_id" value="{{app._id}}">
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Name</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" id="" name="name" value="">
	    	</div>
		</div>

		<div class="form-group">
		  <label class="col-sm-1 control-label">Route</label>
		  <div class="col-sm-11">
		    <input type="text" class="form-control" id="" name="route" value="">
		  </div>
		</div>

		<input type="hidden" name="_id" value="{{app._id}}">
		<button type="submit" class="btn btn-default">Add</button>
	</form>

	{# CMS Meta Tags #}
	<form action="/cms/update/metas" method="socket" class="highlight form-horizontal" data-form="updateCmsMetas" role="form">
		<h2>CMS Meta Tags</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
			{% for meta in app.metas %}
				<tr>
					<td>{{meta.name}}</td>
					<td>{{meta.content}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<h3>Add CMS Meta</h3>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Name</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" id="" name="name" value="">
	    	</div>
    	</div>

    	<div class="form-group">
    	  <label class="col-sm-1 control-label">Value</label>
    	  <div class="col-sm-11">
    	    <input type="text" class="form-control" id="" name="content" value="">
    	  </div>
    	</div>

    	<input type="hidden" name="_id" value="{{app._id}}">
		<button type="submit" class="btn btn-default">Add</button>
	</form>

	{# CMS Stylesheets #}
	<form action="/cms/update/stylesheets" method="socket" class="highlight form-horizontal" data-form="updateCmsStylesheets" role="form">
		<h2>CMS Stylesheets</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Path</th>
					<th>Attributes</th>
				</tr>
			</thead>
			<tbody>
			{% for style in app.stylesheets %}
				<tr>
					<td>{{style.name}}</td>
					<td>{{style.path}}</td>
					<td>
					{% if style.attributes is defined and style.attributes is not empty %}
						{% for attr in style.attributes %}
							<span>{{attr.name}} = {{attr.value}}</span>
						{% endfor %}
					{% endif %}
					</td>
				</tr>

			{% endfor %}
			</tbody>
		</table>

		<h3>Add CMS Stylesheet</h3>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Name</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" id="" name="name" value="">
	    	</div>
		</div>

		<div class="form-group">
		  <label class="col-sm-1 control-label">Path</label>
		  <div class="col-sm-11">
		    <input type="text" class="form-control" id="" name="path" value="">
		  </div>
		</div>

		<input type="hidden" name="_id" value="{{app._id}}">
		<button type="submit" class="btn btn-default">Add</button>

	</form>

	{# CMS Javascripts #}
	<form action="/cms/update/javascripts" method="socket" class="highlight form-horizontal" data-form="updateCmsJavascripts" role="form">
		<h2>CMS Javascripts</h2>

		<h3>Header</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Path</th>
				</tr>
			</thead>
			<tbody>
				{% for script in app.javascripts.header %}
				<tr>
					<td>{{script.name}}</td>
					<td>{{script.path}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<h3>Footer</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Path</th>
				</tr>
			</thead>
			<tbody>
				{% for script in app.javascripts.footer %}
				<tr>
					<td>{{script.name}}</td>
					<td>{{script.path}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<h3>Add CMS Javascript</h3>

	    <div class="form-group">
			<label class="col-sm-1 control-label">Name</label>
			<div class="col-sm-11">
	    		<input type="text" class="form-control" id="" name="name" value="">
	    	</div>
		</div>

		<div class="form-group">
		  <label class="col-sm-1 control-label">Path</label>
		  <div class="col-sm-11">
		    <input type="text" class="form-control" id="" name="path" value="">
		  </div>
		</div>

		<input type="hidden" name="_id" value="{{app._id}}">
		<button type="submit" class="btn btn-default">Add</button>

	</form>

{% endblock %}