{% if not isSocket %}
	{% extends "layout.html.twig" %}
	{% block title %}{{title}}{% endblock %}
{% endif %}

{% block content %}
	<h1>{{title}}</h1>

	<div class="container">
		<form action="/new/page" method="socket" class="jumbotron" data-form="newCmsPage">
			<h2>CMS Pages</h2>
			<table class="table">
				<thead>
					<tr>
						<th>_id</th>
						<th>Name</th>
						<th>Title</th>
						<th>Template</th>
						<th>Route</th>
					</tr>
				</thead>
				<tbody>
				{% for page in pages %}
				<tr id="{{page._id}}">
					<td>{{page._id}}</td>
					<td>{{page.name}}</td>
					<td>{{page.title}}</td>
					<td>{{page.template}}</td>
					<td>{{page.route}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

			<h3>New CMS Page</h3>
		    <div class="form-group">
				<label class="" for="inputEmail">Title</label>
			    <input type="text" class="form-control" id="" name="title" value="">
				<label class="" for="inputEmail">Template</label>
			    <input type="text" class="form-control" id="" name="template" value="">
			    <label class="" for="inputEmail">Route</label>
			    <input type="text" class="form-control" id="" name="route" value="">
			</div>

			<button type="submit" class="btn btn-default">Save</button>
		</form>
	</div>

	<form action="" method="post" class="" data-form="saveCmsSettings">

    		<div class="form-group">
				<label class="" for="inputEmail">Name</label>
			    <input type="text" class="form-control" id="inputEmail" name="name" value="{{app.name}}">
			</div>

    		<div class="form-group">
				<label class="control-label" for="inputEmail">Title</label>
				<input type="text" class="form-control" id="inputEmail" name="title" value="{{app.title}}">
			</div>

    		<div class="form-group">
				<label class="control-label" for="inputEmail">Keywords</label>
				<input type="text" class="form-control" id="inputEmail" name="keywords" value="{{app.keywords}}">
			</div>

    		<div class="form-group">
				<label class="control-label" for="inputEmail">Description</label>
				<input type="text" class="form-control" id="inputEmail" name="description" value="{{app.description}}">
			</div>

			<div class="form-group">
				<label class="control-label" for="inputEmail">Metas</label>
				<ul>
				{% for meta in app.metas %}
					<li>{{meta.name}} = {{meta.content}}</li>
				{% endfor %}
				</ul>
			</div>

			<div class="form-group">
				<label class="control-label" for="inputEmail">Stylesheets</label>
				<ul>
				{% for style in app.stylesheets %}
					<li>{{style.name}} = {{style.path}}</li>
					{% if style.attributes is defined and style.attributes is not empty %}
						<label class="control-label" for="inputEmail">Attributes</label>
						<ul>
						{% for attr in style.attributes %}
							<li>{{attr.name}} = {{attr.value}}</li>
						{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
				</ul>
			</div>

			<div class="form-group">
				<label class="control-label" for="inputEmail">Javascripts</label>
				<h2>Header</h2>
				<ul>
				{% for script in app.javascripts.header %}
					<li>{{script.name}} = {{script.path}}</li>
				{% endfor %}
				</ul>
				<h2>Footer</h2>
				<ul>
				{% for script in app.javascripts.footer %}
					<li>{{script.name}} = {{script.path}}</li>
				{% endfor %}
				</ul>
			</div>

			<div class="form-group">
				<label class="control-label" for="inputEmail">Pages</label>
				<ul>
				{% for page in pages %}
					<li>
						<h3>{{page.title}}</h3>
						<p>Name = {{page.name}}</p>
						<p>Template = {{page.template}}</p>
						<p>Route = {{page.route}}
					</li>

				{% endfor %}
				</ul>
			</div>

			<div class="form-group">
				<label class="control-label" for="inputEmail">Navigation</label>
				<ul>
				{% for nav in app.navigation %}
					<li>
						<h3>{{nav.name}}</h3>
						<p>Route = {{nav.route}}
					</li>

				{% endfor %}
				</ul>
			</div>
			<input type="hidden" name="id" value="{{app._id}}">
    		<button type="submit" class="btn btn-default">Save</button>

	</form>

{% endblock %}